    /* shared google font--> work sans  */
    
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
    * {
        font-family: 'Work Sans', sans-serif;
    }
    /* Shared styles start  */
    
    .primary-btn {
        padding: 20px 25px;
        border: none;
        border-radius: 8px;
        background: #FF900E;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
    }
    
    .light-gray-description {
        color: #727272;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .section-title {
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
    }
    /* header styles start  */
    
    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 50px 240px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-menus {
        display: flex;
    }
    
    .nav-menus>li {
        list-style: none;
        margin-right: 20px;
    }
    
    .nav-menus>li>a {
        text-decoration: none;
        color: var(--dark-02, #424242);
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
    
    .banner-content {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    
    .banner-title {
        color: #131313;
        font-size: 4rem;
        font-weight: 700;
    }
    
    .banner img {
        width: 100%;
        margin-top: 20px;
    }
    /* styles for overall "main"  */
    
    main {
        max-width: 1440px;
        margin: 85px auto;
    }
    /* Feature section start  */
    
    .feature {
        display: flex;
        align-items: center;
    }
    
    .feature-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    
    .feature-content {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .feature-title {
        color: #727272;
        font-size: 2.8rem;
        font-weight: 500;
    }
    
    .span-of-Our {
        color: #131313;
        font-weight: 700;
    }
    
    .span-Features {
        color: #FF900E;
        font-weight: 700;
    }
    /* Experience section start */
    
    .experience {
        display: flex;
        margin-top: 130px;
        gap: 100px;
    }
    
    .expo-card-title {
        color: #131313;
        font-size: 1.25rem;
        font-weight: 600;
    }
    
    .expo-card {
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
        padding: 30px 30px;
        margin-top: 20px;
    }
    
    .experience-cards .section-title {
        border-left: 5px solid #FF900E;
        padding-left: 20px;
    }
    
    .ten-years-badge {
        width: 342px;
        border-radius: 8px;
        background: #FF900E;
        padding: 40px;
        color: #FFF;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        position: relative;
        bottom: 100px;
    }
    
    .ten-years-badge>h1 {
        margin: 0;
    }
    
    .ten-years-badge>p {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }
    
    .experience img {
        margin-left: 100px;
        height: 90%;
    }
    /* some facts section start  */
    
    .facts>h2 {
        margin-bottom: 8px;
    }
    
    .facts>p {
        max-width: 65%;
    }
    
    .facts-cards-contaier {
        display: flex;
        justify-content: space-around;
    }
    
    .facts-cards-contaier .facts-card {
        border-radius: 8px;
        border: 1px solid #FF900E;
        text-align: center;
        padding: 30px;
    }
    
    .facts-card .card-status {
        color: #424242;
        font-size: 2.8rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .facts-card .card-title {
        color: #727272;
        font-size: 1.25rem;
        font-weight: 600;
    }
    /* sponspors section start */
    
    .sponspors-content {
        text-align: center;
    }
    
    .sponspors-logo {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        align-items: center;
        gap: 20px;
    }
    
    .sponspors-logo>img {
        width: 165px;
    }
    /* footer section start  */
    
    .copy-right {
        border-radius: 8px;
        background: #FFF4E7;
        color: #424242;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 400;
        padding: 40px 300px;
        margin: 130px 200px;
    }
    /* responsive using media query  */
    /* mobile screen  */
    
    @media screen and (max-width: 576px) {
        header {
            padding: 20px;
        }
        nav,
        .facts-cards-contaier,
        .sponspors-logo,
        .experience {
            flex-direction: column;
        }
        .feature {
            flex-direction: column-reverse;
        }
        .feature-img {
            grid-template-columns: 1fr;
        }
        .feature-content {
            padding-left: 20px;
            padding-right: 20px;
        }
        .facts>p {
            max-width: 100%;
        }
        .experience img {
            width: 100%;
            margin: 0;
        }
        .ten-years-badge {
            max-width: 330px;
            position: static;
        }
        .copy-right {
            padding: 40px;
            margin: 20px;
        }
    }
    /* tablet screen  */
    
    @media screen and (min-width: 576px) and (max-width: 992px) {
        header {
            padding: 50px;
        }
        nav,
        .feature,
        .facts-cards-contaier,
        .experience,
        .sponspors-logo {
            flex-direction: column;
        }
        .feature-content {
            padding-left: 20px;
            padding-right: 20px;
        }
        .experience img {
            width: 100%;
            margin: 0;
        }
        .copy-right {
            padding: 40px;
            margin: 100px;
        }
    }